body {
    background-color: #f5f6e6;
}

#container {
    margin-top: 30px;
}

.home-container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container-logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 35px;
    animation: up-down 0.3s 10 ease-in-out alternate;
}

@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-20px);
  }
}

.home-container-upload-btn {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 150px;
}

label {
    cursor: pointer;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

.first_btn {
    width: 150px;
    padding-right: 40px;
}

#fileName {
    margin-left: 5px;
}
.upload-btn {
    margin-top: 30px;
}
.button label:hover{
    background: dimgray;
}

.button label {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.button input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.submitButton:hover{
    background: dimgray;
}

.submitButton {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.home-container_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.home-container_body > p:first-child {
    font-size: 45px;
}

.home-container_body > p:nth-child(2) {
    margin-top: -20px;
    font-size: 30px;
}