body {
    background-color: #f5f6e6;
}

#container {
    margin-top: 30px;
}

.chicken-container-logo {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 35px;
}

.chicken-container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#chicken-container
.chicken-container-desc {
    font-size: 26px;
    margin-bottom: 20px;
}

.chicken-container_button > button{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.chicken-container_button > button:hover{
    background: dimgray;
}

.chicken-container-ment {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /*animation: up-down 0.3s 10 ease-in-out alternate;*/
	-webkit-animation: rotate-scale-down 0.65s 4 linear both;
	        animation: rotate-scale-down 0.65s 4 linear both;
}

@keyframes rotate-scale-down {
  50% {
    -webkit-transform: scale(0.5) rotateZ(0);
            transform: scale(0.5) rotateZ(0);
  }
