<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>너의 오늘</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
<div class="image-container">
    <div>
        <img id="preview-image" src="">
    </div>
    <div class="upload-btn" id="upload-btn">
        <form method="post" enctype="multipart/form-data" class="first_btn">
            <div class="button">
                <label for="chooseFile">
                    사진 올려볼까요 😉
                </label>
            </div>
            <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
        </form>
        <div class="buttonContainer">
            <button class="submitButton" id="submitButton">오늘 내 기분은 🤔</button>
        </div>
    </div>

    <div class="image-show" id="image-show"></div>
</div>

<script src="register.js"></script>
</body>
</html>