<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>너의 오늘</title>
</head>

<script>
    window.onload = function get_data() {
        $.ajax({
            type: "POST",
            url: "/result/api",
            data: {},
            success: function (data) {
                console.log(data['result'])
                //
                //
                let else_data_1 = data['result'][1]
                for (let i = 0; i < 5; i++) {
                    let music_title = else_data_1['title'][i]
                    let music_img_src = else_data_1['img'][i]
                    let music_singer = else_data_1['singer'][i]
                    let temp_html1 = `<div class="music_wrapper">
                                        <img class="music_img" src="${music_img_src}">
                                        <div class="title">${music_title}</div>
                                        <div class="singer">${music_singer}</div>
                                        </img>
                                    </div>`
                    $('#music_container_1').append(temp_html1);
                }
                for (let i = 0; i < 5; i++) {
                    let movie_title = else_data_1['movie_title'][i]
                    let movie_img_src = else_data_1['movie_img'][i]
                    let movie_point = else_data_1['movie_point'][i]
                    let temp_html2 = `<div class="movie_container">
                                        <div class="movie_wrapper">
                                            <img class="movie_img" src="${movie_img_src}">
                                            <div class="movie_title">${movie_title}</div>
                                            <div class="movie_point">${movie_point}</div>
                                        </div>
                                    </div>`
                    $('#movie_container_1').append(temp_html2);
                }
                let else_data_2 = data['result'][2]
                for (let i = 0; i < 5; i++) {
                    let music_title = else_data_2['title'][i]
                    let music_img_src = else_data_2['img'][i]
                    let music_singer = else_data_2['singer'][i]
                    let temp_html3 = `<div class="music_wrapper">
                                        <img class="music_img" src="${music_img_src}">
                                        <div class="title">${music_title}</div>
                                        <div class="singer">${music_singer}</div>
                                        </img>
                                    </div>`
                    $('#music_container_2').append(temp_html3);
                }
                for (let i = 0; i < 5; i++) {
                    let movie_title = else_data_2['movie_title'][i]
                    let movie_img_src = else_data_2['movie_img'][i]
                    let movie_point = else_data_2['movie_point'][i]
                    let temp_html4 = `<div class="movie_container">
                                        <div class="movie_wrapper">
                                            <img class="movie_img" src="${movie_img_src}">
                                            <div class="movie_title">${movie_title}</div>
                                            <div class="movie_point">${movie_point}</div>
                                        </div>
                                    </div>`
                    $('#movie_container_2').append(temp_html4);
                }
            }
        })
    }

</script>

<body>
<div id="wrapper">
    <div class="status-bar">
        <div class="left" id="time">
        </div>
        <div class="right">
            <i class="fa fa-signal" style="font-size:24px; color: white;"></i>
            <i class="fa fa-wifi" style="font-size:24px; color: white;"></i>
            <i class="fa fa-battery-4" style="font-size:24px; color: white;"></i>
        </div>
    </div>
    <div class="container">
        <p>음 그렇다면...</p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="width: 70vw; max-width: 720px">
                        추천 1
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="display: flex; justify-content: center; width: 70vw; max-width: 720px">
                        <!--                        ajax 부분-->
                        <!--                        <div class="music_container" id="music_container_1"></div>-->
                        <!--                        <div class="movie_container" id="movie_container_1"></div>-->
                        <!--                        ajax 부분-->

                        <!--                        css test용, 삭제-->
                        <div class="music_container" id="music_container">
                            <div class="music_wrapper">
                                <img src="https://image.bugsm.co.kr/album/images/50/9921/992177.jpg?version=20200820002349.0"/>
                                <span>제목</span>
                                <span>가수</span>
                            </div>
                            <div class="music_wrapper">
                                <img src="https://image.bugsm.co.kr/album/images/50/9921/992177.jpg?version=20200820002349.0"/>
                                <span>제목</span>
                                <span>가수</span>
                            </div>
                            <div class="music_wrapper">
                                <img src="https://image.bugsm.co.kr/album/images/50/9921/992177.jpg?version=20200820002349.0"/>
                                <span>제목</span>
                                <span>가수</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        추천 2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="data_container">
                            <div class="music_container" id="music_container_2"></div>
                            <div class="movie_container" id="movie_container_2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/time.js"></script>
</body>
</html>